<h2>Регистрация</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, required: true %>
    </div>

    <div class="field">
      <%= f.label "Пароль" %>
      <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br/>
      <%= f.password_field :password, autocomplete: "off", required: true %>
    </div>

    <div class="field">
      <%= f.label "Подтверждение пароля" %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
    </div>

    <div class="field">
      <%= f.label "Имя" %><br/>
      <%= f.text_field :first_name, required: true %>
    </div>

    <div class="field">
      <%= f.label "Фамилия" %><br/>
      <%= f.text_field :last_name, required: true %>
    </div>

    <div class="field">
      <%= f.label "Отчество" %><br/>
      <%= f.text_field :patronymic %>
    </div>

    <div class="field">
      <%= f.label "Дата рождения" %><br/>
      <%= f.date_select :date_of_birth, start_year: 1900, end_year: Date.today.year - 10, required: true %>
    </div>

    <div class="field">
      <%= f.label "Город" %><br/>
      <%= f.text_field :city, required: true %>
    </div>

    <div class="field">
      <%= f.label "О себе" %><br/>
      <%= f.text_area :info %>
    </div>

    <div class="actions">
      <%= f.submit "Регистрация", class: "button" %>
    </div>
<% end %>

<%= render "devise/shared/links" %>
