<div class="comment">
  <div class="row">
    <div class="small-7 medium-9 columns">
      <label><%= link_to comment.user.first_name + ' ' + comment.user.last_name, comment.user%></label>
      <%= comment.body %>
      <label class="label-mini bold"><%= time_ago_in_words(comment.created_at) + ' ago' %></label>
    </div>
    <% if user_signed_in? && CommentsPolicy.new(current_user, comment).author? %>
        <div class="small-1 medium-1 columns">
          <%= link_to '✖', comment, method: :delete, class: 'delete label-mini' %>
        </div>
    <% end %>
  </div>
</div>