<%= form_for [@post, @comment], remote: true do |f| %>
    <div class="field">
      <%= f.text_area :body, :required => true, max: 200%>
    </div>

    <div class="actions">
      <%= f.submit "Оставить комментарий", class:"button tiny"%>
    </div>
<% end %>