<%= form_for [@event, @application] do |f| %>

    <div class="field">
      <%= f.label "Номер телефона" %>
      <%= f.text_field :phone, :required => true%>
    </div>

    <div class="field">
      <%= f.label "Название доклада" %>
      <%= f.text_field :name, :required => true%>
    </div>

    <div class="field">
      <%= f.label "Краткое описание" %>
      <%= f.text_area :description, :required => true%>
    </div>

    <div class="actions">
      <%= f.submit "Подать заявку", class:"button small"%>
    </div>

<% end %>