<h2>Мои заявки</h2>
<% if @applications.any? %>
    <% @applications.each do |application| %>
        <div class="post">
          <%= render application %>
          <label>
            <%= link_to 'Редактировать', edit_event_application_path(application.event, application) %> |
            <%= link_to 'Удалить', event_application_path(application.event, application), method: :delete, confirm: 'Вы точно хотите удалить заявку?' %>
          </label>
        </div>
    <% end %>
<% else %>
    <label>Похоже у вас пока нет заявок. <%= link_to 'Найти подходящую конференцию', events_path%></label>

<% end %>