<div class="event">
  <h4><%= link_to event.name, event_path(event) %></h4>
  <label>Участников: <%= event.users.count %></label>
  <label><%= event.city %>, <%= I18n.localize event.date, format: :long %></label>
</div>