<%= form_for(@event) do |f| %>

    <div class="field">
      <%= f.label "Название" %><br/>
      <%= f.text_field :name, autofocus: true, required: true %>
    </div>

    <div class="field">
      <%= f.label "Дата проведения" %><br/>
      <%= f.date_field :date, start_year: Date.today.year, end_year: Date.today.year + 2, required: true %>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <div class="field">
          <%= f.label "Начало" %><br/>
          <%= f.time_field :begin_time %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <div class="field">
          <%= f.label "Завершение" %><br/>
          <%= f.time_field :end_time %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= f.label "Город" %><br/>
      <%= f.text_field :city, required: true %>
    </div>

    <div class="field">
      <%= f.label "Адрес проведения" %><br/>
      <%= f.text_field :address %>
    </div>

    <div class="field">
      <%= f.label "Описание" %><br/>
      <%= f.text_area :description%>
    </div>

    <div class="actions">
      <%= f.submit "Создать", class: "button" %>
    </div>
<% end %>