<% if user_signed_in? %>
    <%= link_to "Создать конференцию", new_event_path, class: "button small", style: "margin-top: 10px" %>
<% end %>

<% @events.reverse_order.each do |event| %>
    <%= render event %>
<% end %>


