<h2>Участники конференции</h2>
<div class="participant">
  <% @participants.each do |participant| %>
      <label>
        <%= link_to participant.user.first_name + " " + participant.user.last_name  , user_path(participant.user) %>
        <%= link_to '✖', delete_participant_path(@event, participant.user), method: :delete %>
      </label>
  <% end %>
</div>