<h4><%= @event.name %></h4>
<label>Город: <%= @event.city %></label>
<label>Дата: <%= I18n.localize @event.date, format: :long %></label>
<div class="tiny button-group">
  <% if !EventsPolicy.new(current_user, @event).participant? %>
      <%= link_to 'Вступить', participant_path(@event), method: :post, class: 'button tiny' %>
  <% else %>
      <%= link_to 'Отписаться', delete_participant_path(@event, current_user), method: :delete, class: 'button tiny' %>
  <% end %>
  <%= link_to 'Стать докладчиком', new_event_application_path(@event), class: "button tiny" %>
</div>
<% if EventsPolicy.new(current_user, @event).access? %>
    <div class="tiny button-group">
      <%= link_to 'Редактировать', edit_event_path(@event), class: 'button tiny' %>
      <%= link_to 'Участники', participants_path, class: 'button tiny' %>
      <%= link_to 'Удалить', event_path(@event), method: :delete, class: 'alert button' %>
    </div>
<% end %>
<hr/>
<div class="new_post">
  <% if user_signed_in? && EventsPolicy.new(current_user, @event).access?%>
      <%= render 'posts/form' %>
  <% end %>
</div>
<div class="posts">
  <% @posts.reverse_order.each do |post| %>
      <%= render post %>
  <% end %>
</div>
