<%= form_for [@event, @post], remote: true do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.text_area :text, :required => true%>
    </div>

    <div class="actions">
      <%= f.submit "Опубликовать пост", class:"button tiny"%>
    </div>
<% end %>