<div class="post" data-id="<%= post.id %>">
  <p><%= post.text %></p>
  <label class="label-mini">Posted <%= time_ago_in_words(post.updated_at)%> ago</label>
  <% if user_signed_in? && PostsPolicy.new(current_user, post).access? %>
      <%= link_to "Удалить пост |", post, method: :delete, remote: true, data: {confirm: 'Вы точно хотите удалить этот пост?'}, class: "label-mini" %>
  <% end %>
  <%= link_to 'Обсудить', post, class: "label-mini" %>
</div>