<div class="post-show">
  <%= render @post%>
</div>
<hr/>
<div class="new-comment">
  <% if user_signed_in? %>
      <%= render 'comments/form' %>
  <% end %>
</div>
<div class="comments">
  <% @comments.each do |comment| %>
      <%= render comment %>
  <% end %>
</div>