/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

.event {
    margin-top: 20px;
    margin-bottom: 10px;

}

.label-mini {
    font-size: x-small;
}

.post {
    margin-bottom: 10px;
    background-color: #e6e6e6;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.post-show {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment {
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.delete {
    width: 10%;
}

