<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "inScience" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu" data-dropdown-menu>
      <%if user_signed_in?%>
          <li><%= link_to "inScience", user_path(current_user)%></li>
      <% else %>
          <li><a href="/">inScience</a></li>
      <% end %>

    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <%if user_signed_in? %>
          <li><%= link_to "Выйти", destroy_user_session_path, method: :delete %></li>
      <%else%>
          <li><%= link_to "Войти", new_user_session_path %></li>
          <li class="active"><%= link_to "Регистрация", new_user_registration_path %></li>
      <%end%>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-4 medium-2 columns">
    <% if user_signed_in? %>
        <ul class="menu vertical">
          <li><%=link_to "Моя страница", user_path(current_user)%></li>
          <li><%= link_to "Конференции", events_path %></li>
          <li><%= link_to "Мои заявки", user_applications_path(current_user) %></li>
        </ul>
    <% end %>
  </div>
  <div class="small-8 medium-10 columns">
    <%= yield %>
  </div>
</div>

</body>
</html>
